.tooltip-container,
.object-for-tooltip {
    position: relative;
    &:after {
        display: block;
        content: '';
        clear: both;
    }
    .tooltip {
        background-color: red;
        padding: 10px 10px;
        z-index: 1;
        color: white;
        position: absolute;
        display: none;
        &.left {
            left: 0;
            top: 0;
        }
        &.top {
            top: 0;
        }
        &.right {
            right: 0;
            top: 0;
        }
        &.bottom {
            bottom: 0;
        }
        &.display {
            display: block;
        }
    }
}
