doctype
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel="stylesheet", href="styles/main.css")
    title
  body
    h1#myh1 Hello world!
    div#mydiv1 Hello
    //- input#input1(type="text")
    script(src="/js/lib/tooltip.js")
    script(src="/js/index.js")

