doctype
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel="stylesheet", href="css/main.min.css")
    title
  body
    h1#myh1 Hello world!
    script(src="/js/lib/tooltip.js")
    script(src="/js/index.js")

